[submodule "weemoji"]
	path = weemoji
	url = https://github.com/kattrali/weemoji.git
[submodule "wee-slack"]
	path = wee-slack
	url = https://github.com/rawdigits/wee-slack.git
[submodule "vimmode"]
	path = vimmode
	url = https://github.com/GermainZ/weechat-vimode.git
[submodule "urlview"]
	path = urlview
	url = https://github.com/keith/urlview-weechat.git
[submodule "terminal-notifier"]
	path = terminal-notifier
	url = https://github.com/keith/terminal-notifier-weechat.git
